.results {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results__send {
  margin-top: 3rem;
  transition: all 3s;
}
